fastapi
uvicorn
langgraph
langchain
langchain-groq
langchain-community
langchain-core
guardrails-ai
guardrails-ai-toxic-language
guardrails-ai-detect-pii
razorpay
sqlalchemy
python-dotenv
pytest
httpx
sse-starlette
groq
ipython
spacy
presidio-analyzer
presidio-anonymizer
httpx